.body{
    width: auto;
    height: 100%;
    background-color: black;
    color: rgb(156, 156, 156) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    border: 0px;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}
.con0{
    text-align: center; 
}
.con0 h1{
    display: inline-block;
    background-color: rgba(126, 126, 126, 0.384);
    margin: 0px;
    padding: 4px 20px;
    margin-top: 20px;
    border-radius: 6px 6px 0px 0px;
}
.con1{
    background-color: rgba(126, 126, 126, 0.384);
    
    margin-bottom: 20px;
    padding: 40px 8px;
    border-radius: 6px;
    /* box-shadow: 0px 0px 5px 0px rgba(131, 131, 131, 0.568); */
}
.inadd{
    display: inline-flex;
    margin: 0px 4px 0px 4px;
}
.inadd input{
    height: 34px;
    padding: 0px 12px;
    border-radius: 2px 0px 0px 2px;
    background-color: #f3f3f3;
}
.inadd button{
    height: 34px;
    padding: 8px;
    padding: 0px 12px;
    border-radius: 0px 2px 2px 0px;
}
input:focus,button:focus{
    outline: none;
}

ul{
    list-style: none;
    padding: 0px !important;
    margin: auto;
    text-align: left;
}
.item{
    background-color: rgba(0, 0, 0, 0.486);
    margin: 10px;
    border-radius: 4px;
    display: flex;
    padding: 0px !important;
}
.item p{
    flex: 1;
    margin: 0px;
    padding: 8px;
    font-size: 20px;
    overflow: auto;
    color: white;
}
.fade{
    opacity: 0;
    transition: all 0.2s ease-out;
}
i{
    pointer-events: none;
}
.delete,.checked{
    width: 14%;
}
.delete{
    border-radius: 4px 0px 0px 4px;
    background-color: rgb(255, 64, 38);
    color: white;
}
.delete:hover{
    background-color: #ffffff;
    color:  rgb(255, 64, 38);
    width: 20%;
}
.checked:hover{
    background-color: #ffffff;
    color:  rgb(18, 255, 57);
    width: 20%;
}
.checked{
    border-radius: 0px 4px 4px 0px ;
    background-color: rgb(18, 255, 57);
    color: white;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    color: rgb(63, 63, 63);
    padding: 5px;
}
.filter{
    display: inline-block;
    margin: 0px 4px 0px 4px;
    border-radius: 2px;
}
.filter-todo{
    background-color: #f3f3f3;
}
.box{
    display: inline-flex;
}
.cp{
   height: auto;
   border-radius: 2px;
}
.filthe{
    display: inline-flex;
    margin-top: 7px;
}
@media (min-width: 768px) {
    .delete,.checked{
        width: 7%;
    }
    .delete:hover,.checked:hover{
        width: 14%;
    }
}
@media (max-width: 425px) {
    .box{
        display: block;
    }
}